/*!
 * Aegis Theme
 * Copyright 2015 Vito Paredes
 * Based on Bootstrap
*/
body {
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  background-color: #717171;
}
.navbar-default {
  background-color: #D6D6D6;
}

/*Tabs*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    text-decoration: underline;
}

.nav-tabs>li>a {
  color: #575757;
  margin-right: 0;
  line-height: 1.0;
  background: #E8E8E8;
  border: 1px solid #717171;
  border-radius:0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #575757;
  border: 1px solid #fff;
  background-color: #fff;
  border-bottom-color: transparent;
  cursor: default;
    -moz-transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.nav-tabs>li>a:hover {
  border-color: #464545 #464545 #464545;
}
.nav>li>a:hover, .nav>li>a:focus {
  -moz-transition: background-color 300ms linear;
  -webkit-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  text-decoration: none;
  background-color: #F5F5F5;
}

.tab-content{
	background:#fff;
	padding: 10px;
	height: 260px;
    overflow: auto;
	}
/*Nav bar form*/	
.navbar-form {
padding:0;
}
/*Buttons*/
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: 10px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: thin dotted;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
.btn {
  font-size: 14px;
  padding: 6px 10px;
  border: 1px solid transparent; 
  border-radius: 0;
  -moz-transition: background-color 300ms linear;
  -webkit-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  text-align:left;
  white-space: inherit;
  width: 165px;
}
.btn-primary {
  color: #ffffff;
  background-color: #575757;
  border-color: #575757;
}
.btn-primary:hover {
  color: #575757;
  background-color: rgba(255,0,0,0);
  border-color: #575757;
}
.btn-danger {
  color: #ffffff;
  background-color: #BD362F;
  border-color: #BD362F;
}
.btn-danger:hover {
  color: #BD362F;
  background-color: rgba(255,0,0,0);
  border-color: #BD362F;
}
.red-bright {
  box-shadow: 0px 0px 16px rgb(255, 66, 66) !important;
  -webkit-animation: 1s ease 0s alternate infinite running redBright;
  -moz-animation: 1s ease 0s alternate infinite running redBright;
  -o-animation: 1s ease 0s alternate infinite running redBright;
  animation: 1s ease 0s alternate infinite running redBright;
}

.btn-warning {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-warning:hover {
  color: #f39c12;
  background-color: rgba(255,0,0,0);
  border-color: #f39c12;
}

.btn-success {
  color: #ffffff;
  background-color: #72AF46;
  border-color: #72AF46;
}
.btn-success:hover {
  color: #72AF46;
  background-color: rgba(255,0,0,0);
  border-color: #72AF46;
}

.btn-info {
  color: #ffffff;
  background-color: #466BAF;
  border-color: #466BAF;
}
.btn-info:hover {
  color: #466BAF;
  background-color: rgba(255,0,0,0);
  border-color: #466BAF;
}

.btn-success:active,.btn-success:focus{
  color: #ffffff;
  background-color: #72AF46;
  border-color: #72AF46;
}

.blue-bright {
  box-shadow: 0px 0px 16px #466BAF !important;
  -webkit-animation: 0.5s ease 0s alternate infinite running #466BAF;
  -moz-animation: 0.5s ease 0s alternate infinite running #466BAF;
  -o-animation: 0.5s ease 0s alternate infinite running #466BAF;
  animation: 0.5s ease 0s alternate infinite running #466BAF;
}


.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #888;
  border-color: #888;
}
.navbar {
  min-height: 0;
}
.b-side{
	margin-top:60px;
	}
.fa {
  line-height: inherit;
}
/*Table*/
.table {
  border: 1px solid #ddd;
  font-size: 14px;
}
thead{
	background:#F1F1F1;
	color:#585858;
	font-weight:900;
	}
tbody{
	color:#585858;
	}
tr{
    border-top: 1px solid #ddd;
	}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fafafa;
}
.table-hover>tbody>tr:hover {
  background-color: #464646;
  color:#fff;
}

/*Forms*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#sidebar-wrapper {
    background: rgba(0,0,0,0.8);
    height: 100%;
    margin-right: -372px;
    overflow-y: auto;
    position: fixed;
    right: 372px;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#sidebar-wrapper .btn{
	width:100px!important;
	}
#sidebar-wrapper .btn-primary {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
#sidebar-wrapper .btn-primary:hover {
  color: #fff;
  background-color: rgba(255,0,0,0);
  border-color: #fff;
}
.show-grid {
  margin-bottom: 15px;
}

#sidebar-wrapper .nav-pills > li.active > a, .nav-pills > li.active > a:hover,#sidebar-wrapper .nav-pills > li.active > a:focus {
    background-color:rgba(255,0,0,0);
}
#sidebar-wrapper .nav>li>a:hover,#sidebar-wrapper .nav>li>a:focus {
  background-color:rgba(255,0,0,0);
}
.panel {
    background-color: initial;
    border: 0px solid transparent;
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 21px;
}
.separator{
	border-top:2px solid #A1A1A1;
	margin-top:5px;
	}
@media (min-width: 768px){
.navbar-right {
  margin-right: 0!important;
}
}
.recording-inspecting-label{
    float:left;
    margin-top:8px;
    margin-right:16px;
    color:#466BAF;
}
.recording-inspecting-button{
    margin-left:0px!important;
    width:39px;
}
/**/
@-webkit-keyframes greenBright {
  0%   { text-shadow:none; }
  100% {
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #72AF46,
                   0 0 70px #72AF46,
                   0 0 80px #72AF46,
                   0 0 100px #72AF46,
                   0 0 150px #72AF46;
  }
}
@-moz-keyframes greenBright {
  0%   { text-shadow:none; }
  100% {
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #72AF46,
                   0 0 70px #72AF46,
                   0 0 80px #72AF46,
                   0 0 100px #72AF46,
                   0 0 150px #72AF46;
  }
}
@-o-keyframes greenBright {
  0%   { text-shadow:none; }
  100% {
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #72AF46,
                   0 0 70px #72AF46,
                   0 0 80px #72AF46,
                   0 0 100px #72AF46,
                   0 0 150px #72AF46;
  }
}
@keyframes greenBright {
  0%   { text-shadow:none; }
  100% {
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #72AF46,
                   0 0 70px #72AF46,
                   0 0 80px #72AF46,
                   0 0 100px #72AF46,
                   0 0 150px #72AF46;
  }
}

.green-bright {
  box-shadow: 0px 0px 16px #72AF46 !important;
  -webkit-animation: 0.5s ease 0s alternate infinite running greenBright; /* Safari 4+ */
  -moz-animation:    0.5s ease 0s alternate infinite running greenBright; /* Fx 5+ */
  -o-animation:      0.5s ease 0s alternate infinite running greenBright; /* Opera 12+ */
  animation:         0.5s ease 0s alternate infinite running greenBright; /* IE 10+, Fx 29+ */
}

/**/
/* scaffolding */
/* ----------- */

.typeahead,
.tt-query,
.tt-hint {
  width: 190px;
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  /*border: 2px solid #0097cf;*/
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 192px;
  margin: 2px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  color: #292f33;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}
/*** user or group ***/
#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  color: #292f33;
}
#multiple-datasets .tt-menu {
  max-height: 120px;
  overflow-y: auto;
}
